p.speech{
    color: black;
    font-size: 15px;
    font-family: sans-serif;}
        
    p.stage-direction{
        background-color:silver;
        color: black;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    p.stage-direction:hover{
        background-color: rgb(8, 110, 5);
        color:orange;
    }

    .gerald{
        color:rgb(60, 0, 128);
        margin-left: 40px;
    }
    .lordillingworth{
        color: rgb(122, 253, 0);
        margin-left: 30px;
    }
    
    table{border: 1px solid black;
        padding: 10px;
        margin: 20px;
    }

td,th{border: solid 2px;
text-align: left;
}

tr:nth-child(even){
    background-color:silver;
}

.gerald:hover{
    text-shadow: 2px 3px 4px violet;
}
.lordillingworth:hover{
    text-shadow: 2px 3px 4px violet;
}
.icon:before{
    content: '';
    background:url('arrow-right-icon-256-1808646777.png');
    background-size:cover;
    position:absolute;
    background-color: skyblue;
    width:30px;
    height:30px;
    margin-left:-5px;
}
.icon2:before{
    content: '';
    background:url('arrow-right-icon-256-1808646777.png');
    background-size:cover;
    position:absolute;
    background-color: skyblue;
    width:30px;
    height:30px;
    margin-left:-5px;
}
#content {
    position: relative;
}
#content img.ribbon{
    position: absolute;
    top: -1250px;
    right: 30px;
    height: 415px;
    width: 350px;
}
#content img.ribbon2 {
    position: absolute;
    bottom: -200px;
    right: 70px;
    height: 415px;
    width: 350px;
    
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color: violet;
}
  ul.navbar-vertical a:hover{
      background-color: yellow;
      
  }